body{
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	

}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #273e69;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .1s ease-in;
	cursor: pointer;
}
button:hover{
	background: #298f74;
}
textarea, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.main {
    background: linear-gradient(to bottom, #847fba, #388293, #298f74);
    background-color: unset;
    padding: 20px;
    width: 100%;
    margin: auto;
}

label {
    color: #333;
    font-weight: bold;
}

textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comments-section {
    margin-top: 20px;
}

.comments-section h4 {
    margin: 10px;
    color: #000000;
}

.comments-section div {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
